   # Learning Python

## Variables, Types and Data Structures

In [3]:
# Python Version
from platform import python_version
print(python_version())

3.8.5

In [13]:
# Exercise 1 - Print in the screen the numbers from 1 to 10. 
# Use a list to save the numbers.
my_list = [x for x in range(10)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# Exercise 2 - Make a list of 5 objects and print in the screen
my_second_list = ['Joao', 10, True, 3.8, (2,3)]
print(my_second_list)

['Joao', 10, True, 3.8, (2, 3)]

In [22]:
# Exercise 3 - Make two strings and concat both in a third string
str_one = 'Joao'
str_two = ' Paulo'
str_three = str_one + str_two
print(str_one, '\n', str_two, '\n', str_three)

Joao
  Paulo
 Joao Paulo

In [23]:
# Exercise 4 - Make a tuple with the elements: 1, 2, 2, 3, 4, 4, 4, 5 and then use the count function 
# to check how many times the number 4 appears
tup_one = (1, 2, 2, 3, 4, 4, 4, 5)
tup_one.count(4)

3

In [30]:
# Exercise 5 - Make a empty dictionary and print in the screen
dict_one = {}
print(dict_one)

{}

In [35]:
# Exercise 6 - Make a dictionary with 3 key and values and then print in the screen
dict_two = {'key1': 'Joao', 'key2': 'Paulo', 'key3': 'Rodrigues'}
print(dict_two)

{'key1': 'Joao', 'key2': 'Paulo', 'key3': 'Rodrigues'}

In [36]:
# Exercise 7 - Add one more element to dictionary created in the previus exercise and then print in the screen
dict_two['key4'] = 'Corte'
print(dict_two)

{'key1': 'Joao', 'key2': 'Paulo', 'key3': 'Rodrigues', 'key4': 'Corte'}

In [1]:
# Exercise 8 - Make a dictionary with 3 key and values. 
# One of value must be a list with two numbers
# Print on screen
dict_three = {'key1': 101, 'key2': 'A', 'key3': [10, 20]}
print(dict_three)

{'key1': 101, 'key2': 'A', 'key3': [10, 20]}

In [38]:
# Exercise 9 - Make a list with 4 elements. The first must be a string, the second a tuple with 2 elements,
# the thrid with a dictionary with 2 key and values, and 
# the fourth with a float
# Print on screen
list_one = ['Maria', (10, 20), {1: 'Joao', 2: 'Paulo'}, 8.9]
print(list_one)

['Maria', (10, 20), {1: 'Joao', 2: 'Paulo'}, 8.9]

In [2]:
# Exercise 10 - Consider the string below. Print on screen only the caracters from 1 to 18.
phrase = 'Cientista de Dados é o profissional mais sexy do século XXI'
print(phrase[1:19])

ientista de Dados