   # Learning Python

## Methods and Functions

In [ ]:
# Python Version
from platform import python_version
print(python_version())

In [10]:
# Exercise 1 - Make a function that print a sequence of even numbers between 1 and 20 (the function don't receive
# param) and then use them to list the numbers.
def even_numbers():
    return [x for x in range(2, 20, 2)]

print(even_numbers())

def even_numbers_two():
    even = []
    for x in range(1, 20):
        if x%2 == 0:
            even.append(x)
    return even

print(even_numbers_two())

even_numbers_three = lambda : [x for x in range(2, 20, 2)]
print(even_numbers_three())

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
# Exercise 2 - Make a function that receive a string how argument and return the same string in upper case.
phrase = "Joseph Robinette Biden Jr. is an American politician serving as the 46th and current president of the USA."

def uper_func_one(x):
    return x.upper()

print(uper_func_one(phrase))

upper_func = lambda x: x.upper()
print(upper_func(phrase))

JOSEPH ROBINETTE BIDEN JR. IS AN AMERICAN POLITICIAN SERVING AS THE 46TH AND CURRENT PRESIDENT OF THE USA.
JOSEPH ROBINETTE BIDEN JR. IS AN AMERICAN POLITICIAN SERVING AS THE 46TH AND CURRENT PRESIDENT OF THE USA.

In [1]:
# Exercise 3 - Make a function that receive a list of 4 elements, add 2 elements and print
from random import randrange
def add_list(list):
    for i in range(2):
        list.append(randrange(100))
    print(list)

add_list([1,3,4,6])

[1, 3, 4, 6, 72, 12]

In [2]:
# Exercise 4 - Make a function that receive a formal argument and a possible list of elements. 
# Run the function two times, first with only one element and second with 4 elements
def fun_one(one, *list):
    print(one)
    
    for x in list:
        print(x)
        

fun_one('first time')
fun_one('second time', 1, 3, 5 ,6)

first time
second time
1
3
5
6

In [3]:
# Exercise 5 - Make a anonymous function and set its return to variable called 'sum_fun'. 
# The expression must be get 2 numbers and then return their sum
sum_fun = lambda a, b: a + b

print(sum_fun(1,2))

3

In [6]:
# Exercise - Run the code below and make sure you understand the difference between global and local variable.
total = 0
def sum_fun_one(arg1, arg2):
    total = arg1 + arg2; 
    print ("Inside total is: ", total)
    return total;


sum_fun_one(10, 20);
print ("Outside total is: ", total)

Inside total is:  30
Outside total is:  0

In [16]:
# Exercise 7 - Below you see a list of Celsius temperatures
# Make a anonymous function that return each temperature in Fahrenheit
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda x: (x * 9/5) + 32, Celsius)
print(list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

In [8]:
# Exercise 8 - Make a dictionary and show all your methods and atributes
dict_one = {'key1': 1, 'key2': 2}

dir(dict_one)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [9]:
# Exercise 9 - Here you see the import of Pandas. Analise all methods
import pandas as pd
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [14]:
# Exercise 10 - Make a function that receive a file and return a estatistics resume.
# file: "binary.csv"
import pandas as pd
file_name = "addresses.csv"

def desc_file(file):
    df = pd.read_csv(file)
    return df.describe()
    
desc_file(file_name)

              08075
count      5.000000
mean   21769.800000
std    39059.209909
min      123.000000
25%      298.000000
50%     8075.000000
75%     9119.000000
max    91234.000000