   # Learning Python

## Database with Python

In [18]:
# Python Version
from platform import python_version
print(python_version())

3.8.5

In [19]:
import os

In [20]:
os.remove('library.db') if os.path.exists('library.db') else None

In [21]:
import sqlite3

In [22]:
con = sqlite3.connect('library.db')

In [23]:
type(con)

sqlite3.Connection

In [24]:
cursor = con.cursor()

In [25]:
type(cursor)

sqlite3.Cursor

In [26]:
sql_create = 'create table author (id integer primary key, name varchar(100))'

In [27]:
cursor.execute(sql_create)

In [28]:
sql_insert = 'insert into author values (?,?)'

In [29]:
set_author = [(1000, 'J. K. Rowling'), (10001, 'George R. R. Martin'), (1002, 'J. R. R. Tolkien')]

In [30]:
for x in set_author:
    cursor.execute(sql_insert, x)

In [31]:
con.commit()

In [32]:
sql_select = 'select * from author'

In [33]:
cursor.execute(sql_select)

In [34]:
data = cursor.fetchall()

In [35]:
for x in data:
    print(x)

(1000, 'J. K. Rowling')
(1002, 'J. R. R. Tolkien')
(10001, 'George R. R. Martin')

In [36]:
con.close()